<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
    <link rel="stylesheet" th:href="${@environment.getProperty('app.domain-name') + '/api/auth/css/activation_success_style.css'}">
</head>
<body>
<div class="banner">
    <h1>Your account has been successfully activated</h1>
</div>
<div class="login-button">
    <a th:href="${@environment.getProperty('app.domain-name') + '/api/ui/login'}">Go to Login Page</a>
</div>
</body>
</html>
